<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现组件v-model</title>
    <style>
        .active {
            background: #f1a417;
            color: #4c4c4c;
        }
    </style>
</head>
<body>

<div id="app">
    <h2>实现组件v-model 使用sync</h2>
    <p>{{v1}}</p>
    <custom-input1 v-bind:val.sync="v1"></custom-input1>
    <hr>
    <h2>实现组件v-model 使用update事件显式触发修改</h2>
    <p>{{v2}}</p>
    <custom-input2 v-bind:val="v2" v-on:update:val="val=$event"></custom-input2>
</div>

<script src="../js/vue.js"></script>
<script>
    Vue.component('custom-input1', {
        props: ['val'],
        template: `
            <div>
            <input
              v-model="val.a"
            >
            <input
              v-model="val.b"
            >
            </div>
          `
    })
    Vue.component('custom-input2', {
        props: ['val'],
        template: `
            <div>
            <input
              v-model="val.a"
            >
            <input
              v-model="val.b"
            >
            </div>
          `,
        methods: {
            
        }
    })
    var vm = new Vue({
        el: '#app',
        data: {
            v1: {
                a: 'Vue',
                b: 123
            },
            v2: {
                a: 'Vue',
                b: 123
            }
        },
        mounted(){
            setTimeout(function () {
                vm.v1 = {
                    a: 'vuex',
                    b: 23
                };
                vm.v2 = {
                    a: 'fuck',
                    b: 23
                }
            },1000)
        }
    });
</script>
</body>
</html>
