doctype html
html(lang="en")
    head    
        title = 'error page'
        script(type="text/javascript")
            console.log('Hello Jade')
    body
        h1 This is a error page 
            